.clip-video-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-player {
    background: #1E1E1E;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-player:hover {
    border: 5px solid grey
}

.upload-video-img {
    min-heigth: 200px;
}

.clip-video-text, .clip-video-normal {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}

.clip-video-normal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #FFFFFF;
}

.clip-video-content {
    min-width: 80%;
    min-height: 80%;
    max-height: 100%;
    max-width: 100%;
}

.clip-video-container {
    position: relative;
    height: 100%;
    width: 100%;
}

/* Crop Video Button */
.crop-video-button {
    border: none;
    outline: 1px solid #1C181B;
    margin: 20px;
    min-width: 150px;
    padding: 20px;
    border-radius: 5px;
    color: #1C181B;
    font-family: 'Inter', serif;
}

.crop-video-button:hover {
    background: #1C181B;
    color: white;
}

/* Progress Bar */
.video-progress-bar {
    position: relative;
    width: 80%;
    height: 10px;
    border-radius: 10px;
    background-color: #cdcdcd;
    margin-top: 20px
}

.video-progress-bar-blue {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background-color: #575757;
    border-radius: 10px;
}

/* Black Box */
.capture-block {
    background: rgba(0, 0, 0, 0.5);
    height: 406px;
    width: 187px;
    border: 3px dashed white;
    position: absolute;
    top: 0;
    left: 0;
}

.position-button {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: crimson;
}